<ion-header>
  <ion-toolbar>
    <ion-title>oublie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class="padding" text-center>Email</h2>
  
    <div class="padding">
    
     

      

      <ion-item>
        <ion-label color="light">Email</ion-label>
        <ion-input type="email" color="light" placeholder="Adresse email"></ion-input>
      </ion-item>


      

    

    
    
     
    
      <ion-button  shape="round" expand="block">ENVOYER</ion-button>
      
    </div>
  
</ion-content>
